@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.BC
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PCCA
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        Addressee Information
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   Attention Name:
                </div>
                <div class="col-md-6">
                     <RadzenDropDown class="DropDownSize" TValue="PolicyPeriodContact" Data=@partyNames TextProperty="DisplayName" ValueProperty="DisplayName" Change=@(args => OnAttentionNameChanged(args)) AllowClear=true  Placeholder="--Select--"/>
                    <span class="alert-dangerMsg" hidden="@(partyNames.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                   * Addressee 1 Name:
                </div>
                <div class="col-md-6">
                     <RadzenDropDown class="@LookupData.GetTextColorClass(displayName, firstRendeValue)" TValue="PartyAddressUI" Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnPartyChanged(args)) AllowClear=true  Placeholder="--Select--" Style="width: 100%; max-width: 400px;"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
            <div class="row margin-top-controls">
                <div class="col-md-3">
                   * Addressee 1 Address:
                </div>
                <div class="col-md-6">
                   <RadzenDropDown @ref="childComponent" class="@LookupData.GetTextColorClass(selectedAddressID, firstRendeValue)" TValue="ControlClass.Address" Data=@partyAddresses TextProperty="Line1Tx" ValueProperty="ID" Change=@(args => OnAddressChanged(args)) AllowClear=true  Placeholder="--Select--"  Style="width: 100%; max-width: 400px;">
                        <Template>
                        @($"{context.Line1Tx} {context.Line2Tx} {context.Line3Tx} , {context.Municipality} {context.CountrySubdivision} {context.PostalCd}")        
        </Template>
    </RadzenDropDown>
                    <span class="alert-dangerMsg" hidden="@(partyAddresses.Count > 0 || string.IsNullOrEmpty(displayName))">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }
    RadzenDropDown<ControlClass.Address> childComponent { set => components.Add(value); }
    List<RadzenDropDown<ControlClass.Address>> components = new List<RadzenDropDown<ControlClass.Address>>();
    List<PartyAddressUI> partyList = new();
    List<ControlClass.Address> partyAddresses  = new List<ControlClass.Address>();
    string selectedAddressID = string.Empty;
    List<PolicyPeriodContact> partyNames = new ();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            partyList =  GetProducerPartyAddress(LookupData.SourceSystemEntity);
            if (((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrieveInvoiceTransactionsOut != null)
            {
                partyNames = (((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrieveInvoiceTransactionsOut.AccountInvoices.Select(x => x.PolicyPeriodForThisInvoice.PrimaryInsured)).DistinctBy(y => y.DisplayName).ToList();
            }
            else if (((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrievePolicyInvoiceDetailsOut != null)
                partyNames = (((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrievePolicyInvoiceDetailsOut.AccountInvoices.Select(x => x.PolicyPeriodForThisInvoice.PrimaryInsured)).DistinctBy(y => y.DisplayName).ToList();
            else if (((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrieveProducerStatementDetailsOut != null)
            {
                var partyObj = ((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrieveProducerStatementDetailsOut.ProducerStatments.Select(y => y.Producer);
                partyNames = partyObj.Select(x => new PolicyPeriodContact
                    {
                        DisplayName = x.Name,
                    }).ToList();
            }
            partyNames = partyNames.DistinctBy(x => x.DisplayName).ToList();
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }


    List<PartyAddressUI> GetProducerPartyAddress(SourceSystemBaseEntity systemBaseEntity)
    {
        List<PartyAddressUI> partyList = new();
        List<Producer1> contacts = ((BCSourceSystemEntity)systemBaseEntity).retrieveProducerStatementDetailsOut.ProducerStatments.Select(x => x.Producer).ToList();
        partyList.AddRange(contacts.Select(x => new PartyAddressUI
            {
                PartyID = x.Name.ToString(),
                DisplayName = x.Name,
                PartyAddresses = new List<ControlClass.Address>(new ControlClass.Address[] {new ControlClass.Address
                    {
                        AddresseeNameLine1Tx = x.Address_Ext?.AddressLine1,
                        AddresseeNameLine2Tx =  x.Address_Ext?.AddressLine2,
                        Line1Tx =  x.Address_Ext?.AddressLine1,
                        Line2Tx =  x.Address_Ext?.AddressLine2,
                        Line3Tx =  x.Address_Ext?.AddressLine3,
                        PostalCd =  x.Address_Ext?.PostalCode,
                        CountrySubdivision = x.Address_Ext?.State.Code,
                        Municipality =x.Address_Ext?.City,
                        ID =x.Address_Ext?.id.ToString(),
                    } }),
            }).ToList());

            return partyList;
        }

    bool firstRendeValue = true;
    protected override void OnAfterRender(bool firstRender)
    {
        firstRendeValue = firstRender;
    }
    void DocumentSubmitted(bool isValidate)
    {
        if (isValidate && string.IsNullOrEmpty(selectedAddressID) || string.IsNullOrEmpty(displayName))
        {
            LookupData.errorDetails.IsInValid = true;
            return;
        }
        var userSelection = ((BCUserEntity)LookupData.UserSelection);
        if (!String.IsNullOrEmpty(attentionName))
            userSelection.AttentionName = attentionName;
        userSelection.AddresseeAddress.DisplayName = displayName;
        if (!string.IsNullOrEmpty(selectedAddressID))
        {
            var selectedAddress = partyAddresses.Where(x => x.ID == selectedAddressID).FirstOrDefault();
            userSelection.AddresseeAddress.Line1Tx = selectedAddress.Line1Tx;
            userSelection.AddresseeAddress.Line2Tx = selectedAddress.Line2Tx;
            userSelection.AddresseeAddress.Line3Tx = selectedAddress.Line3Tx;
            userSelection.AddresseeAddress.MunicipalityNm = selectedAddress.Municipality;
            userSelection.AddresseeAddress.CountrySubdivisionNm = selectedAddress.CountrySubdivision;
            userSelection.AddresseeAddress.PostalCd = selectedAddress.PostalCd;
        }
        else
        {
            userSelection.AddresseeAddress = new();
        }
    }

    string attentionName = string.Empty;
    public async void OnAttentionNameChanged(object myArgs)
    {
         attentionName = myArgs == null ? string.Empty : myArgs.ToString();
    }
    string displayName = string.Empty;
    public async void OnPartyChanged(object myArgs)
    {
        try
        {
            if (myArgs == null)
            {
                displayName = string.Empty;
                partyAddresses = new List<ControlClass.Address>();
            }
            else
            {
                displayName = partyList.Where(x => x.PartyID == myArgs.ToString()).FirstOrDefault().DisplayName;
                partyAddresses = partyList.Where(x => x.PartyID == myArgs.ToString()).FirstOrDefault().PartyAddresses;
            }
            foreach (var cntl in components)
                cntl.Reset();
            selectedAddressID = string.Empty;
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }

    public async void OnAddressChanged(object myArgs)
    {
        selectedAddressID = myArgs == null ? string.Empty : myArgs.ToString();
    }

}
