@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.BC
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PCCA
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        Addressee Information
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   * Addressee 1 Name:
                </div>
                <div class="col-md-6">
                     <RadzenDropDown class="@LookupData.GetTextColorClass(displayName, firstRendeValue || isDBASelected)" TValue="PartyAddressUI" Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnPartyChanged(args)) Disabled ="@(isDBASelected)" AllowClear=true  Placeholder="--Select--" Style="width: 100%; max-width: 400px;"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
            <div class="row margin-top-controls">
                <div class="col-md-3">
                   * Addressee 1 Address:
                </div>
                <div class="col-md-6">
                   <RadzenDropDown @ref="childComponent" class="@LookupData.GetTextColorClass(selectedAddressID, firstRendeValue || isDBASelected)" TValue="ControlClass.Address" Data=@partyAddresses TextProperty="Line1Tx" ValueProperty="ID" Change=@(args => OnAddressChanged(args)) Disabled ="@(isDBASelected)" AllowClear=true  Placeholder="--Select--"  Style="width: 100%; max-width: 400px;">
                        <Template>
                        @($"{context.Line1Tx} {context.Line2Tx} {context.Line3Tx} , {context.Municipality} {context.CountrySubdivision} {context.PostalCd}")        
        </Template>
    </RadzenDropDown>
                    <span class="alert-dangerMsg" hidden="@(partyAddresses.Count > 0 || string.IsNullOrEmpty(displayName))">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
             <div class="row  margin-top-controls">
                <div class="col-md-3">
                   <RadzenSwitch @bind-Value=@isDBASelected />
                </div>
                <div class="col-md-3">
                    DBA Name:
                </div>
                <div class="col-md-6">
                    DBA Address:
                </div>
            </div>
            <div class="row margin-top-controls">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    @dBAName
                    <span class="alert-dangerMsg" hidden="@(!string.IsNullOrEmpty(dBAName))">@ApplicationConstants.NoDataMsg</span>
                </div>
                <div class="col-md-6">
                    @dBAAddress.Line1Tx @dBAAddress.Line2Tx @dBAAddress.Line3Tx , @dBAAddress.MunicipalityNm @dBAAddress.CountrySubdivisionNm @dBAAddress.PostalCd
                </div>
            </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }
    RadzenDropDown<ControlClass.Address> childComponent { set => components.Add(value); }
    List<RadzenDropDown<ControlClass.Address>> components = new List<RadzenDropDown<ControlClass.Address>>();
    List<PartyAddressUI> partyList = new();
    List<ControlClass.Address> partyAddresses  = new List<ControlClass.Address>();
    string selectedAddressID = string.Empty;
    bool isDBASelected = true;
    string dBAName = string.Empty;
    AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.Address dBAAddress = new ();
    protected override async Task OnInitializedAsync()
    {

        AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.Address dbaAddress = new();

        try
        {
            partyList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            PolicyPeriodContact contact = null;
            if (((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrievePolicyInvoiceDetailsOut == null)
            {
                dBAName = ((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrieveInvoiceTransactionsOut?.LatestPolicyPeriod?.DBA;
                var value = ((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrieveInvoiceTransactionsOut?.LatestPolicyPeriod?.PrimaryInsured?.Roles?.Where(x => x.Role?.Code == "primaryinsured").Count();

                if (value > 0)
                    contact = ((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrieveInvoiceTransactionsOut?.LatestPolicyPeriod?.PrimaryInsured;
            }
            else
            {
                dBAName = (((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrievePolicyInvoiceDetailsOut?.AccountInvoices?.Select(x => x.PolicyPeriodForThisInvoice?.DBA)).FirstOrDefault();
                contact = (((BCSourceSystemEntity)LookupData.SourceSystemEntity).retrievePolicyInvoiceDetailsOut?.AccountInvoices?.Select(x => x.PolicyPeriodForThisInvoice?.PrimaryInsured)?.Where(y => y.Roles?.Where(z => z.Role?.Code == "primaryinsured").Count() > 0)).FirstOrDefault();
            }
            dBAAddress = new AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.Address
                {
                    DisplayName = dBAName,
                    Line1Tx = contact?.Contact?.PrimaryAddress?.AddressLine1,
                    Line2Tx = contact?.Contact?.PrimaryAddress?.AddressLine2,
                    Line3Tx = contact?.Contact?.PrimaryAddress?.AddressLine3,
                    MunicipalityNm = contact?.Contact?.PrimaryAddress?.City,
                    CountrySubdivisionNm = contact?.Contact?.PrimaryAddress?.State?.Code,
                    PostalCd = contact?.Contact?.PrimaryAddress?.PostalCode
                };
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    bool firstRendeValue = true;
    protected override void OnAfterRender(bool firstRender)
    {
        firstRendeValue = firstRender;
    }
    void DocumentSubmitted(bool isValidate)
    {

        var userSelection = ((BCUserEntity)LookupData.UserSelection);
        userSelection.IsDBASelected = isDBASelected;
        if (isDBASelected)
        {
            if (string.IsNullOrEmpty(dBAAddress?.DisplayName))
            {
                LookupData.errorDetails.IsInValid = true;
                return;
            }
            userSelection.AddresseeAddress.DisplayName = dBAAddress?.DisplayName;
            userSelection.AddresseeAddress.Line1Tx = dBAAddress?.Line1Tx;
            userSelection.AddresseeAddress.Line2Tx = dBAAddress?.Line2Tx;
            userSelection.AddresseeAddress.Line3Tx = dBAAddress?.Line3Tx;
            userSelection.AddresseeAddress.MunicipalityNm = dBAAddress?.MunicipalityNm;
            userSelection.AddresseeAddress.CountrySubdivisionNm = dBAAddress?.CountrySubdivisionNm;
            userSelection.AddresseeAddress.PostalCd = dBAAddress?.PostalCd;
        }
        else
        {
            if (isValidate && string.IsNullOrEmpty(selectedAddressID) || string.IsNullOrEmpty(displayName))
            {
                LookupData.errorDetails.IsInValid = true;
                return;
            }
            userSelection.AddresseeAddress.DisplayName = displayName;
            if (!string.IsNullOrEmpty(selectedAddressID))
            {
                var selectedAddress = partyAddresses.Where(x => x.ID == selectedAddressID).FirstOrDefault();
                if (selectedAddress == null)
                    return;
                userSelection.AddresseeAddress.Line1Tx = selectedAddress.Line1Tx;
                userSelection.AddresseeAddress.Line2Tx = selectedAddress.Line2Tx;
                userSelection.AddresseeAddress.Line3Tx = selectedAddress.Line3Tx;
                userSelection.AddresseeAddress.MunicipalityNm = selectedAddress.Municipality;
                userSelection.AddresseeAddress.CountrySubdivisionNm = selectedAddress.CountrySubdivision;
                userSelection.AddresseeAddress.PostalCd = selectedAddress.PostalCd;
            }
            else
            {
                userSelection.AddresseeAddress = new();
            }
        }
    }

    string displayName = string.Empty;

    public async void OnPartyChanged(object myArgs)
    {
        try
        {
            if (myArgs == null)
            {
                displayName = string.Empty;
                partyAddresses = new List<ControlClass.Address>();
            }
            else
            {
                displayName = partyList.Where(x => x.PartyID == myArgs.ToString()).FirstOrDefault().DisplayName;
                partyAddresses = partyList.Where(x => x.PartyID == myArgs.ToString()).FirstOrDefault().PartyAddresses;
            }
            foreach (var cntl in components)
                cntl.Reset();
            selectedAddressID = string.Empty;
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }

    public async void OnAddressChanged(object myArgs)
    {
        selectedAddressID = myArgs == null ? string.Empty : myArgs.ToString();
    }

}
