@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.WCC
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
<div class="panel panel-primary">
    <div class="panel-heading">Addressee</div>
    <div class="panel-body">
        <div class="form-group">

            <!--Author role dropdown list-->
            <div class="row">
                <div class="col-md-3"><label>Addressee Role:</label></div>
                <div class="col-md-5">
                    <RadzenDropDown TValue ="string" Name="RoleSelection"  Data=@roleData
                                           Change=@(args => OnRoleChanged(args)) AllowClear=true Value="@selectedAuthorRole" Placeholder="--Select--"   Style="width: 100%; max-width: 400px;" />

                    <span class="alert-dangerMsg" hidden="@(roleData.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>

            <!--Author name dropdown list-->
            <div class="row" style="margin-top:5px">
                <div class="col-md-3"><label>Primary Addressee Name:</label></div>
                <div class="col-md-5">
                    <RadzenDropDown @ref=@childComponent TValue="ControlClass.PartyAddressUI"  Data=@authorDataByRole TextProperty="DisplayName" ValueProperty="PartyID"
                                    Value=@selectedAuthorId Change=@(args => OnAuthorChanged(args)) AllowClear=true Name="AuthorSelection" Placeholder="--Select--"  Style="width: 100%; max-width: 400px;">
                    </RadzenDropDown>
                    <span class="alert-dangerMsg" hidden="@(authorDataByRole.Count > 0 || string.IsNullOrEmpty(selectedAuthorRole))">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>

        </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }
    RadzenDropDown<ControlClass.PartyAddressUI> childComponent { set => components.Add(value); }
    List<RadzenDropDown<ControlClass.PartyAddressUI>> components = new List<RadzenDropDown<ControlClass.PartyAddressUI>>();

    string selectedAuthorRole { set; get; }
    string selectedAuthorId { set; get; }
    PartyAddressUI selectedAuthor { set; get; }
    List<PartyAddressUI> partyList = new();
    List<PartyAddressUI> authorList = new();
    List<PartyAddressUI> authorDataByRole = new();
    List<string> roleData = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            authorList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            authorList.ForEach(x => Array.ForEach(x.PartyRoles, y => {if (!roleData.Contains(y)) roleData.Add(y); }));
            roleData = roleData.OrderBy(x => x).ToList();
            authorDataByRole = GetAuthorDataForGivenRole(selectedAuthorRole);
            selectedAuthorId = authorDataByRole?.FirstOrDefault()?.PartyID;
            selectedAuthor = authorDataByRole?.Where(x => x.PartyID == selectedAuthorId).FirstOrDefault();
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    public List<PartyAddressUI> GetAuthorDataForGivenRole(string roleName)
    {
        return authorList.Where(x => x.PartyRoles.Contains(roleName)).OrderBy(x => $"{x.FirstName}{x.LastName}").ToList();
    }

    public async void OnRoleChanged(object myArgs)
    {
        try
        {
            selectedAuthor = null;

            if (myArgs == null)
            {
                selectedAuthorRole = string.Empty;
                authorDataByRole = new List<PartyAddressUI>();
            }
            else
            {
                selectedAuthorRole = myArgs.ToString();
                authorDataByRole = GetAuthorDataForGivenRole(selectedAuthorRole);
                if (authorDataByRole != null && authorDataByRole.Count == 1)
                {
                    selectedAuthorId = authorDataByRole.FirstOrDefault()?.PartyID;
                    selectedAuthor = authorDataByRole.Where(x => x.PartyID == selectedAuthorId).FirstOrDefault();
                }
            }
            if (string.IsNullOrEmpty(selectedAuthorId))
                foreach (var cntl in components)
                    cntl.Reset();
            StateHasChanged();

        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }
    public async void OnAuthorChanged(object myArgs)
    {
        try
        {
            if (myArgs == null)
            {
                selectedAuthorId = string.Empty;
                selectedAuthor = null;
            }
            else
            {
                selectedAuthorId = myArgs.ToString();
                selectedAuthor = authorDataByRole.Where(x => x.PartyID == selectedAuthorId).FirstOrDefault();
            }
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }


    void DocumentSubmitted(bool isValidate)
    {
        if (selectedAuthor == null)
        {
            return;
        }
        var userSelection = ((WCCUserEntity)LookupData.UserSelection);
        userSelection.RoleAutherAddressee = new AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.Address();
        var phoneDetails = selectedAuthor.ElectronicsDetails?.PhoneFaxDetailList?.Where(x => x.IsPrimary == true).FirstOrDefault();
        userSelection.RoleAutherAddressee.DisplayName = selectedAuthor.DisplayName;
        userSelection.RoleAutherAddressee.Phone = phoneDetails == null ? string.Empty : Utility.PhoneFormate(phoneDetails?.AreaCode, phoneDetails?.Exchange, phoneDetails?.Number);
    }
}