@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.WCC
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        Claimant Attorney
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   Claimant Attorney Name:
                </div>
                <div class="col-md-9">
                     <RadzenDropDown TValue="PartyAddressUI" Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnPartyChanged(args)) AllowClear=true  Placeholder="--Select--"  Style="width: 100%; max-width: 400px;"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
                        <div class="row" hidden="@(!showPetitionersAttorneyAddress)">
                <div class="col-md-3">
                  Claimant Attorney Address:
                </div>
                <div class="col-md-9">
                   <RadzenDropDown @ref="childComponent" TValue="ControlClass.Address" Data=@partyAddresses TextProperty="Line1Tx" ValueProperty="ID" Change=@(args => OnAddressChanged(args)) 
                        Value=@partyAddressID AllowClear=true  Placeholder="--Select--"  Style="width: 100%; max-width: 400px;">
                        <Template>
                        @($"({context.AddressUseCd}) {context.Line1Tx} {context.Line2Tx} {context.Line3Tx} , {context.Municipality} {context.CountrySubdivision} {context.PostalCd}")        
                        </Template>
                    </RadzenDropDown>
                    <span class="alert-dangerMsg" hidden="@(partyAddresses.Count > 0 || string.IsNullOrEmpty(partyID))">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }
    RadzenDropDown<ControlClass.Address> childComponent { set => components.Add(value); }
    List<RadzenDropDown<ControlClass.Address>> components = new List<RadzenDropDown<ControlClass.Address>>();
    bool showPetitionersAttorneyAddress = true;
    List<PartyAddressUI> partyList = new();
    List<ControlClass.Address> partyAddresses = new List<ControlClass.Address>();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            List<string> claimantAttorneyRole = new List<string>();
            claimantAttorneyRole = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(claimantAttorneyRole), LookupData.documentData.documentEntity.DocumentId)?.Split(',').ToList();
            var partyFullList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            partyList = partyFullList.Where(x => x.PartyRoles.Any(claimantAttorneyRole.Contains)).ToList();
            showPetitionersAttorneyAddress = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(showPetitionersAttorneyAddress), LookupData.documentData.documentEntity.DocumentId)?.ToString()?.ToUpper() == bool.FalseString.ToUpper() ? false : true;
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }
    string partyID, partyAddressID;
    public async void OnPartyChanged(object myArgs)
    {
        try
        {
            if (myArgs == null)
            {
                partyID = string.Empty;
                partyAddresses = new List<ControlClass.Address>();
            }
            else
            {
                partyID = myArgs.ToString();
                partyAddresses = partyList.Where(x => x.PartyID == myArgs.ToString()).FirstOrDefault().PartyAddresses;
                partyAddressID = partyAddresses?.FirstOrDefault()?.ID;
            }
            if (string.IsNullOrEmpty(partyAddressID))
                foreach (var cntl in components)
                    cntl.Reset();
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }
    public async void OnAddressChanged(object myArgs)
    {
        partyAddressID = myArgs == null ? string.Empty : myArgs.ToString();
    }
    void DocumentSubmitted(bool isValidate)
    {
        if (string.IsNullOrEmpty(partyID))
            return;
        var userSelection = ((WCCUserEntity)LookupData.UserSelection);

        var selectedParty = partyList.Where(x => x.PartyID == partyID).FirstOrDefault();
        if (selectedParty != null)
        {
            var phoneDetails = selectedParty.ElectronicsDetails?.PhoneFaxDetailList?.Where(x => x.Type == PhoneNumberType.Number.ToString() && x.IsPrimary).FirstOrDefault();
            userSelection.ClaimantAttorneyDetails = new AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.Address
                {
                    DisplayName = selectedParty.DisplayName,
                };
            if (showPetitionersAttorneyAddress)
            {
                var selectedAddress = selectedParty.PartyAddresses.Where(x => x.ID == partyAddressID).FirstOrDefault();
                userSelection.ClaimantAttorneyDetails.Line1Tx = selectedAddress?.Line1Tx;
                userSelection.ClaimantAttorneyDetails.MunicipalityNm = selectedAddress?.Municipality;
                userSelection.ClaimantAttorneyDetails.CountrySubdivisionNm = selectedAddress?.CountrySubdivision;
                userSelection.ClaimantAttorneyDetails.PostalCd = selectedAddress?.PostalCd;
                userSelection.ClaimantAttorneyDetails.Phone = phoneDetails == null ? null : Utility.PhoneFormate(phoneDetails.AreaCode, phoneDetails.Exchange, phoneDetails.Number);

            }
        }
        }
    }
