@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.GC
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        Addressee(s)
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   * Primary Addressee:
                </div>
                <div class="col-md-9">
                     <RadzenDropDown id="PrimaryAddressee" TValue="PartyAddressUI" class="@LookupData.GetTextColorClass(displayName, firstRendeValue)" Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnPartyChanged(args)) AllowClear=true  Placeholder="--Select--"  Style="width: 100%; max-width: 400px;"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>

            <div class="row margin-top-controls">
                <div class="col-md-3">
                   * Primary Addressee Address:
                </div>
                <div class="col-md-9">
                   <RadzenDropDown id="AddresseeAddress" @ref="childComponent" TValue="ControlClass.Address" Data=@partyAddresses TextProperty="Line1Tx" ValueProperty="ID" Change=@(args => OnAddressChanged(args)) 
                       class="@LookupData.GetTextColorClass(selectedAddressID, firstRendeValue)"  Value=@selectedAddressID AllowClear=true  Placeholder="--Select--"  Style="width: 100%; max-width: 400px;">
                        <Template>
                        @($"{context.Line1Tx} {context.Line2Tx} {context.Line3Tx} , {context.Municipality} {context.CountrySubdivision} {context.PostalCd} ({context.AddressUseCd}) ")        
                        </Template>
                    </RadzenDropDown>
                    <span class="alert-dangerMsg" hidden="@(partyAddresses.Count > 0 || string.IsNullOrEmpty(displayName))">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>

            <div class="row  margin-top-controls">
                <div class="col-md-3">
                    Secondary Addressee:
                </div>
                <div class="col-md-9">
                     <RadzenDropDown id="SecondaryAddressee" TValue="PartyAddressUI" class="DropDownSize" Data=@partySecondaryList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnSecondaryPartyChanged(args)) AllowClear=true  Placeholder="--Select--"/>
                    <span class="alert-dangerMsg" hidden="@(partySecondaryList.Count > 0)">@ApplicationConstants.NoDataMsg</span>

                </div>
            </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }

    RadzenDropDown<ControlClass.Address> childComponent { set => components.Add(value); }
    List<RadzenDropDown<ControlClass.Address>> components = new List<RadzenDropDown<ControlClass.Address>>();
    List<PartyAddressUI> partyList = new();
    List<PartyAddressUI> partySecondaryList = new();
    List<ControlClass.Address> partyAddresses  = new List<ControlClass.Address>();
    string selectedAddressID= string.Empty;
    string displayName,displayName2 = string.Empty;
    PartyAddressUI selectedParty;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            string primaryRolesExcept, secondaryRolesExcept;
            primaryRolesExcept = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(primaryRolesExcept), LookupData.documentData.documentEntity.DocumentId);
            secondaryRolesExcept = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(secondaryRolesExcept), LookupData.documentData.documentEntity.DocumentId);
            var partyFullList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            if (!string.IsNullOrEmpty(primaryRolesExcept))
            {
                var partyRoles = primaryRolesExcept.Split(',').ToList();
                partyList = partyFullList.Where(x => x.PartyRoles.Except(partyRoles).Count() > 0).OrderBy(y=>y.DisplayName).ToList();
            }
            if (!string.IsNullOrEmpty(secondaryRolesExcept))
            {
                var partyRoles = secondaryRolesExcept.Split(',').ToList();
                partySecondaryList = partyFullList.Where(x => x.PartyRoles.Except(partyRoles).Count() > 0).OrderBy(y=>y.DisplayName).ToList();
            }
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }
    bool firstRendeValue = true;
    protected override void OnAfterRender(bool firstRender)
    {
        firstRendeValue = firstRender;
    }
    void DocumentSubmitted(bool isValidate)
    {
        if (string.IsNullOrEmpty(selectedAddressID) || string.IsNullOrEmpty(displayName))
        {
            LookupData.errorDetails.IsInValid = true;
            return;
        }
        var userSelection = ((GCUserEntity)LookupData.UserSelection);
        userSelection.SecondaryAddressee = displayName2;
        var selectedAddress = partyAddresses.Where(x => x.ID == selectedAddressID).FirstOrDefault();
        userSelection.PrimaryAddresseeAddress = new AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.Address
        {
            DisplayName = displayName,
            Line1Tx = selectedAddress.Line1Tx,
            Line2Tx = selectedAddress.Line2Tx,
            Line3Tx = selectedAddress.Line3Tx,
            MunicipalityNm = selectedAddress.Municipality,
            CountrySubdivisionNm = selectedAddress.CountrySubdivision,
            PostalCd = selectedAddress.PostalCd,
            PostNet = selectedAddress.Barcode
        };
    }

    public async void OnPartyChanged(object myArgs)
    {
        try
        {
            if (myArgs == null)
            {
                displayName = string.Empty;
                selectedParty = null;
                partyAddresses = new List<ControlClass.Address>();
            }
            else
            {
                selectedParty = partyList.Where(x => x.PartyID == myArgs.ToString()).FirstOrDefault();
                displayName = selectedParty.DisplayName;
                partyAddresses = selectedParty.PartyAddresses;
                selectedAddressID = partyAddresses.FirstOrDefault()?.ID;
            }
            if (string.IsNullOrEmpty(selectedAddressID))
                foreach (var cntl in components)
                    cntl.Reset();
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }

    public async void OnAddressChanged(object myArgs)
    {
        selectedAddressID = myArgs == null ? string.Empty : myArgs.ToString();
    }
    public async void OnSecondaryPartyChanged(object myArgs)
    {
        try
        {
            displayName2 = myArgs == null ? string.Empty : partyList.Where(x => x.PartyID == myArgs.ToString()).FirstOrDefault()?.DisplayName;
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }
}
