@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.GC
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        Parents and Minor
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   Parent 1 Name:
                </div>
                <div class="col-md-9">
                     <RadzenDropDown id="Parent1" class="DropDownSize" TValue="PartyAddressUI" Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnParty1Changed(args)) AllowClear=true  Placeholder="--Select--"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                   Parent 2 Name:
                </div>
                <div class="col-md-9">
                     <RadzenDropDown id="Parent2" class="DropDownSize" TValue="PartyAddressUI" Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnParty2Changed(args)) AllowClear=true  Placeholder="--Select--"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                   Minor's Name:
                </div>
                <div class="col-md-9">
                     <RadzenDropDown id="Minor" class="DropDownSize" TValue="PartyAddressUI" Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnPartyMinorChanged(args)) AllowClear=true  Placeholder="--Select--"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }

    List<PartyAddressUI> partyList = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            string primaryRolesExcept;
            primaryRolesExcept = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(primaryRolesExcept), LookupData.documentData.documentEntity.DocumentId);
            var partyFullList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            if (!string.IsNullOrEmpty(primaryRolesExcept))
            {
                var partyRoles = primaryRolesExcept.Split(',').ToList();
                partyList = partyFullList.Where(x => x.PartyRoles.Except(partyRoles).Count() > 0)?.OrderBy(x=>x.DisplayName)?.ToList();
            }
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }
    string partyID1,partyID2,partyIDMinor;
    public async void OnParty1Changed(object myArgs)
    {
        partyID1 = (myArgs == null) ? string.Empty : myArgs.ToString();
    }
    public async void OnParty2Changed(object myArgs)
    {
        partyID2 = (myArgs == null) ? string.Empty : myArgs.ToString();
    }
    public async void OnPartyMinorChanged(object myArgs)
    {
        partyIDMinor = (myArgs == null) ? string.Empty : myArgs.ToString();
    }

    void DocumentSubmitted(bool isValidate)
    {
        if (!string.IsNullOrEmpty(partyID1))
            ((GCUserEntity)LookupData.UserSelection).ParentName1 = partyList.Where(x => x.PartyID == partyID1).FirstOrDefault()?.DisplayName;
        if (!string.IsNullOrEmpty(partyID2))
            ((GCUserEntity)LookupData.UserSelection).ParentName2 = partyList.Where(x => x.PartyID == partyID2).FirstOrDefault()?.DisplayName;
        if (!string.IsNullOrEmpty(partyIDMinor))
        {
            var selectedParty = partyList.Where(x => x.PartyID == partyIDMinor).FirstOrDefault();
            var selectedAddress = selectedParty?.PartyAddresses?.FirstOrDefault();
            ((GCUserEntity)LookupData.UserSelection).MinorDetails = new AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity.Address
                {
                    DisplayName = selectedParty?.DisplayName,
                    Line1Tx = selectedAddress?.Line1Tx,
                    Line2Tx = selectedAddress?.Line2Tx,
                    Line3Tx = selectedAddress?.Line3Tx,
                    MunicipalityNm = selectedAddress?.Municipality,
                    CountrySubdivisionNm = selectedAddress?.CountrySubdivision,
                    PostalCd = selectedAddress?.PostalCd,
                };
        }
    }

}
