@using AdhocCorrespondenceEditor.Client
@using AdhocCorrespondenceEditor.Client.Common
@using AdhocCorrespondenceEditor.Client.ControlClass
@using AdhocCorrespondenceEditor.Client.PageHelper
@using AdhocCorrespondenceEditor.Shared
@using AdhocCorrespondenceEditor.Shared.DTO.UserInputEntity
@using AdhocCorrespondenceEditor.Shared.PL
@using static AdhocCorrespondenceEditor.Client.AceDataCollector
@implements IAsyncDisposable
@namespace AdhocCorrespondenceEditor.Client.Shared
<div class="panel panel-primary">
    <div class="panel-heading">
        Addressee Information
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                   Addressee 1 Name:
                </div>
                <div class="col-md-6">
                     <RadzenDropDown TValue="PartyAddressUI" class="DropDownSize"  Data=@partyList TextProperty="DisplayName" ValueProperty="PartyID" Change=@(args => OnPartyChanged(args)) AllowClear=true  Placeholder="--Select--"  Style="width: 100%; max-width: 400px;"/>
                    <span class="alert-dangerMsg" hidden="@(partyList.Count > 0)">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>

            <div class="row margin-top-controls">
                <div class="col-md-3">
                   Addressee Address:
                </div>
                <div class="col-md-6">
                   <RadzenDropDown @ref="childComponent" class="DropDownSize" TValue="ControlClass.Address" Data=@partyAddresses TextProperty="Line1Tx" ValueProperty="ID" Change=@(args => OnAddressChanged(args)) AllowClear=true  Placeholder="--Select--"  Style="width: 100%; max-width: 400px;">
                        <Template>
                        @($"{context.Line1Tx} {context.Line2Tx} {context.Line3Tx} , {context.Municipality} {context.CountrySubdivision} {context.PostalCd} ({context.AddressUseCd})")        
                        </Template>
                    </RadzenDropDown>
                    <span class="alert-dangerMsg" hidden="@(partyAddresses.Count > 0 || string.IsNullOrEmpty(displayName))">@ApplicationConstants.NoDataMsg</span>
                </div>
            </div>

                         <div class="row  margin-top-controls" hidden="@(string.IsNullOrEmpty(addresseeName2))">
                <div class="col-md-3">
                    Addressee Name 2:
                </div>
                <div class="col-md-6">
                     <RadzenSwitch @bind-Value=@AddresseeTwoNameSelected Disabled ="@(string.IsNullOrEmpty(addresseeName2))" />
                    @addresseeName2
                    <span class="alert-dangerMsg" hidden="@(!string.IsNullOrEmpty(addresseeName2))">@ApplicationConstants.NoDataMsg</span>

                </div>
            </div>
    </div>
</div>
@code {

    public async ValueTask DisposeAsync()
    {
        LookupData.DocumentSubmitted -= new MyEventHandler(DocumentSubmitted);
    }

    [Parameter]
    public AceDataCollector LookupData { get; set; }

    [Parameter]
    public LoggerUtility Logger { get; set; }
    public bool AddresseeTwoNameSelected = false;
    public bool AddresseeThirdNameSelected = false;

    RadzenDropDown<ControlClass.Address> childComponent { set => components.Add(value); }
    List<RadzenDropDown<ControlClass.Address>> components = new List<RadzenDropDown<ControlClass.Address>>();
    List<PartyAddressUI> partyList = new();
    List<ControlClass.Address> partyAddresses  = new List<ControlClass.Address>();
    string selectedAddressID = string.Empty;
    string addresseeName2 = string.Empty;
    string displayName = string.Empty;
    PartyAddressUI selectedParty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string PLFirstAddresseeInformationRoles, SecondaryNamedInsured;
            PLFirstAddresseeInformationRoles = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(PLFirstAddresseeInformationRoles),LookupData.documentData.documentEntity.DocumentId);
            SecondaryNamedInsured = ApplicationClassUtility.GetVariableText(LookupData.configLookupEntity, nameof(SecondaryNamedInsured),LookupData.documentData.documentEntity.DocumentId);

            var partyFullList = (new MapperClass()).GetMappedObjects(LookupData.SourceSystemEntity);
            if (!string.IsNullOrEmpty(PLFirstAddresseeInformationRoles))
            {
                var partyRoles = PLFirstAddresseeInformationRoles.Split(',').ToList();
                partyList = partyFullList.Where(x => x.PartyRoles.Any(partyRoles.Contains) || x.PartyType.ToUpper() == ApplicationConstants.Organization.ToUpper()).ToList();
            }
            if (!string.IsNullOrEmpty(SecondaryNamedInsured))
            {
                var paryinfo2 = partyFullList.Where(x => x.PartyRoles.Contains(SecondaryNamedInsured)).FirstOrDefault();
                if (paryinfo2 != null)
                    addresseeName2 = paryinfo2.DisplayName;
            }
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
        LookupData.DocumentSubmitted += new MyEventHandler(DocumentSubmitted);
    }

    void DocumentSubmitted(bool isValidate)
    {
        var userSelection = ((PLOutputBase)LookupData.UserSelection);
        if (!string.IsNullOrEmpty(addresseeName2))
            userSelection.AddresseeAddress2 = AddresseeTwoNameSelected ? addresseeName2?.Trim() : string.Empty;

        if (selectedParty != null)
            userSelection.AddresseeAddress.DisplayName = displayName;
        if (!string.IsNullOrEmpty(selectedAddressID))
        {
            var selectedAddress = partyAddresses.Where(x => x.ID == selectedAddressID).FirstOrDefault();
            userSelection.AddresseeAddress.Line1Tx = selectedAddress?.Line1Tx;
            userSelection.AddresseeAddress.Line2Tx = selectedAddress?.Line2Tx;
            userSelection.AddresseeAddress.Line3Tx = selectedAddress?.Line3Tx;
            userSelection.AddresseeAddress.MunicipalityNm = selectedAddress?.Municipality;
            userSelection.AddresseeAddress.CountrySubdivisionNm = selectedAddress?.CountrySubdivision;
            userSelection.AddresseeAddress.PostalCd = selectedAddress?.PostalCd;
        }
        else
            userSelection.AddresseeAddress = new();
    }


    public async void OnPartyChanged(object myArgs)
    {
        try
        {
            if (myArgs == null)
            {
                displayName = string.Empty;
                selectedParty = null;
                partyAddresses = new List<ControlClass.Address>();
            }
            else
            {
                selectedParty = partyList.Where(x => x.PartyID == myArgs.ToString()).FirstOrDefault();
                displayName = selectedParty.DisplayName;
                partyAddresses = partyList.Where(x => x.PartyID == myArgs.ToString()).FirstOrDefault().PartyAddresses;
            }
            foreach (var cntl in components)
                cntl.Reset();
            selectedAddressID = string.Empty;
        }
        catch (Exception ex)
        {
            Logger.LogInfoAsync(LogType.Error, ex);
        }
    }

    public async void OnAddressChanged(object myArgs)
    {
        selectedAddressID = myArgs == null ? string.Empty : myArgs.ToString();
    }

}
